@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    background-color: white;
    color: #4C5967;
    height: 100%;
    margin: 0;
}

.dark {
    background-color: rgb(8, 15, 16);
    color: rgb(148, 166, 184);
}

#root {
    height: 100%;
}